.conformation-page .give-hub {
  margin: 25px 14px 27px 0;
  display: inline-block;
  width: 410.5px;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: var(--space-cadet, #17183B);
}
.conformation-page .home {
  margin-right: 8px;
  width: 74px;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  color: var(--space-cadet, #17183B);
}
.conformation-page .add-products {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  color: var(--space-cadet, #17183B);
}
.conformation-page .frame-28 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.conformation-page .about-us {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  color: var(--space-cadet, #17183B);
}
.conformation-page .support {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  color: var(--space-cadet, #17183B);
}
.conformation-page .account {
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  color: var(--space-cadet, #17183B);
}
.conformation-page .menu {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 499.4px;
  height: fit-content;
  box-sizing: border-box;
}
.conformation-page .search {
  margin: 28px 0;
  width: 24px;
  height: 24px;
}
.conformation-page .divider {
  background: var(--french-grey, #D1D1D8);
  width: 1px;
  height: 80px;
}
.conformation-page .shopping-cart {
  margin: 28px 0;
  width: 24px;
  height: 24px;
}
.conformation-page .container {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: 129px;
  box-sizing: border-box;
}
.conformation-page .container-1 {
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1360px;
  box-sizing: border-box;
}
.conformation-page .rectangle-3 {
  background: var(--french-grey, #D1D1D8);
  width: 1440px;
  height: 1px;
}
.conformation-page .header {
  margin-bottom: 183.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
.conformation-page .vector-5 {
  width: 223.7px;
  height: 223.7px;
}
.conformation-page .icon-modal-success {
  margin: 0 0 53.8px 0.6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 223.7px;
  height: 223.7px;
  box-sizing: border-box;
}
.conformation-page .your-order-has-been-submitted {
  margin-right: 1px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'SF Pro Display', 'Roboto Condensed';
  font-weight: 400;
  font-size: 40.3px;
  line-height: 1.4;
  color: #333333;
}
.conformation-page {
  background: var(--white, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 246px 0px;
  width: 1440px;
  box-sizing: border-box;
}
