.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: #fefae0; */
    background: rgba(254, 250, 224, 0.9);
}

.hero-text {
    flex: 1;
    padding: 0 20px; /* Adjust padding as needed */
}

.hero-image {
    flex: 1;
    background: linear-gradient(rgba(221, 161, 94, 0.3),rgba(221, 161, 94, 0.3)),url('../../assets/hero.webp');
    background-size: cover;
    background-position: center;
    width: 650px; /* Set a specific width for the image */
    height: 650px; /* Set a specific height for the image */
    margin-left: 20px; /* Add some space between text and image */
    margin-right: 50px;
    border-radius: 10%;
}

.hero-text-content {
    text-align: center;
    max-width: 80%; /* Adjust max-width as needed */
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.hero-text p {
    font-size: 20px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-weight: 600;
    max-width: 500px;
}
